.card {
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 30%;
}

.cardHeader {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
